.Calendar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    background-color:#52616B ;

    margin:auto; 
    padding-bottom: 1rem;
    width: 90%;
    padding-right:1rem;


}

.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; 
    column-gap: 10px;
    min-width: 800px;
    background-color:#1E2022; 

  }
